
body {
    font-family: sans-serif;
    line-height: 1.6;
    margin: 0;
}

.container {
    max-width: 800px;
    margin: 0;
    padding: 0 20px; 
}

header {
    background-color: #f0f0f0;
    padding: 20px 0;
    border-bottom: 1px solid #ddd; 
    text-align: center;
}

nav {
    max-width: 960px; 
    margin: 0 auto;
    display: flex; 
    justify-content: space-between; 
}
nav a {
    display: inline-block;
    margin:15px;
    text-decoration: none;
    color: #0056B3;
    font-weight: bold;

}


footer {
    background-color: #f0f0f0;
    padding: 20px 0x;
    text-align: center;
    border-top: 1px solid #ddd;
}

.container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.container p {
    margin-bottom: 10px;
}