/* Aplicar uma fonte padrão e alinhamento */
* {
    font-family: sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0; /* Adicionado para garantir que não haja padding padrão */
    box-sizing: border-box; /* Adicionado para incluir padding e border na largura total dos elementos */
    justify-content: center;
}

header {
    background-color: #f0f0f0;
    padding: 10px 0; /* Diminuído de 20px */
    border-bottom: 1px solid #ddd; 
    text-align: center;
}

nav {
    max-width: 960px; 
    margin: 0 auto;
    display: flex; 
    justify-content: space-between; 
}

nav a {
    color: #7a00b3; 
    text-decoration: none;
    font-weight: bold;
}

/* Conteúdo principal */
main {
    max-width: 960px;
    margin: 20px auto; /* Ajustado para adicionar margem superior */
    padding: 0 20px;
}

.content {
    text-align: center;
    margin-bottom: 20px;
    color: #000000; 
}

/* Rodapé */
footer {
    background-color: #f0f0f0;
    padding: 10px 0px;
    text-align: center;
    border-top: 1px solid #ddd;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}

footer a {
    color: #333; 
    text-decoration: none;
    margin: 0 10px;
}

.content form {
    /* Formulário */
    width: 100%; 
    max-width: 400px; 
    margin: 0 auto; 
    margin-top: 20px; /* Ajustado para aumentar a margem superior */
    padding: 20px;
    border: 1px solid #000;
    border-radius: 5px;
}

.content form input, textarea {
    /* Email e Telefone */
    width: 100%; /* Ajustado para ocupar a largura total */
    padding: 10px;
    margin-bottom: 10px; /* Ajustado para diminuir o espaço entre os campos */
    border: 1px solid #000;
    border-radius: 3px;
}

.content form button[type="submit"] {
    /* Enviar */
    background-color: rgb(30, 30, 255);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%; 
    font-size: 14px;

    &:hover{
        background-color: rgb(22, 22, 170);
    }
}
