<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='politicas.css') }}">
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/contato">Contato</a>
            <a href="/produtos">Produtos</a>
            <a href="/cadastro">Cadastro de Produtos</a>
        </nav>
    </header>

   
    <div class="container">
    {% block content %}{% endblock %}
    </div>
   

    <footer>
        <div class="content">
            <p>Desenvolvido por Lelezinha ❤️ 2024.</p>
            <p>
                <a href="/termos">Termos de uso</a> | 
                <a href="/politicas">Políticas de privacidade</a> |
                <a href="/comousar">Como Utilizar</a>
            </p>
        </div>
    </footer>
</body>
</html>