{% extends "base_principal.html"  %}
{% block title %}Home{% endblock %}

{% block content %}
    <h1>Home</h1>

    
    <h2> Conheça o Mercadinho da Lelet!</h2>
    <img style="height: 180px; width: 200px;" src="../static/ChatOn image.jpeg" alt="foto mercado">

    <p><span class="emoji">🛒</span> <span class="highlight">Produtos de Qualidade:</span> Frutas frescas, verduras, pães quentinhos e carnes selecionadas, tudo em um só lugar.</p>
    <p><span class="emoji">📍</span> <span class="highlight">Conveniente:</span> Localizado no coração do bairro, com fácil acesso e estacionamento.</p>
    <p><span class="emoji">💬</span> <span class="highlight">Atendimento Diferenciado:</span> Somos pequenos, mas o nosso atendimento é grande. Cada cliente é tratado com atenção e carinho.</p>
    <p><span class="emoji">✨</span> <span class="highlight">Ofertas Especiais:</span> Fique ligado nas nossas redes sociais para promoções imperdíveis!</p>
    <p style="margin-bottom: 80px;">Venha ao Mercadinho da Lelet e sinta a diferença no seu dia a dia. Esperamos por você!</p>

{% endblock %}