{% extends "base_politicas.html" %}

{% block title %}Política de Privacidade{% endblock %}

{% block content %}

<div class="content">
    <h1>Política de Privacidade</h1>

    <h2>1. O Que Coletamos</h2>
    <p>
        Oi! Sou a Lelezinha e quero te contar um pouquinho sobre o que coletamos quando você usa nosso site. 
        A gente coleta informações que você nos dá diretamente, tipo seu nome, e-mail e telefone, quando você
         se cadastra ou preenche um formulário. 
    </p>
    <p>
        Também pegamos algumas informações automaticamente quando você navega por aqui, como seu endereço IP,
        o navegador que está usando, o sistema operacional e as páginas que você visita.
    </p>

    <h2>2. Como Usamos Seus Dados</h2>
    <p>
        Usamos suas informações para responder às suas perguntas e ajudar você com o que precisar. 
        Além disso, a gente usa esses dados para melhorar nosso site e serviços, e para te mandar e-mails
        com novidades e informações importantes.
    </p>

    <h2>3. Compartilhamento de Dados</h2>
    <p>
        Não se preocupe, a gente não compartilha suas informações pessoais com ninguém, exceto quando é 
        necessário para oferecer o serviço que você pediu ou quando é exigido por lei.
    </p>

    <h2>4. Seus Direitos de Privacidade</h2>
    <p>
        Você tem total controle sobre suas informações! Pode acessar, corrigir ou excluir seus dados a 
        qualquer momento. E se preferir não receber nossos e-mails informativos, é só avisar.
    </p>

    <h2>5. Segurança dos Seus Dados</h2>
    <p>
        A gente se preocupa muito com a segurança das suas informações. Por isso, tomamos várias medidas 
        para proteger seus dados contra qualquer acesso não autorizado ou qualquer outro problema.
    </p>

    <h2>6. Alterações na Política</h2>
    <p>
        De vez em quando, podemos atualizar esta Política de Privacidade. Qualquer mudança será publicada 
        aqui e vai valer imediatamente.
    </p>
</div>
{% endblock %}
